.boardmain{
  width: 80vw;
  padding-top: 85px;
  min-height: 200px;
  height: max-content;
  /* background-color: blue; */
  display: grid;
  grid-template-columns: minmax(200px, 3fr) minmax(320px,11fr) 6fr;
  grid-template-areas: "center center right";
  gap: 5px;
}

.boardcenter{
  /* min-width: 525px; */
  background-color: rgba(242, 238, 182, .5);
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(auto, 100px), 1fr;
  gap: 5px;
  border-radius: 10px;
  grid-area: center;
}

.boardright{
  margin-top: 0px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* padding-top: 5px; */
  padding-bottom: 10px;
  /* padding-left: 5px;
  padding-right: 5px; */
  background-color: rgba(255, 255, 255, .3);
  /* background-color: rgba(5, 199, 242, 0.3); */
  border-radius: 10px;
  grid-area: right;
}

.board-name{
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .5);
  height: fit-content;
}
.bname{
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  border-radius: 10px;
  background-color: rgba(242, 182, 210, .6);
  font-size: 1.3rem;
}

.write{
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .8);
}
.write > a > .wname{
  padding: 10px;
  font-size: 1.1rem;
  /* border: 1px solid #f25ea3; */
  background-color: rgba(242, 182, 210, .3);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.write > a > .wcontent{
  padding: 10px;
  font-size: 1rem;
  /* border: 1px solid #f25ea3; */
}
.write > a > time{
  padding-left: 10px;
  padding-right: 10px;
  /* border: 1px solid #f25ea3; */
  font-size: 0.9rem;
}
.write > a > .nickname{
  /* border: 1px solid #f25ea3; */
  display: inline-block;
  font-size: 0.9rem;
}
.write > a > .status{
  /* border: 1px solid #f25ea3; */
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
  margin-bottom: 2px;
}
.write > a > .status img{
  height: 20px;
  margin-right: 2px;
}
.write > a > .status > .good{
  /* background-color: #05C7F2; */
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.write > a > .status > .comment{
  /* background-color: fuchsia; */
  display: flex;
  align-items: center;
  padding-right: 10px;
}

textarea::placeholder{
  color: rgba(5, 199, 242, 0.7);
  font-family: 'Jua', sans-serif;
}
.newwrite{
  background-color: rgba(255, 255, 255, .5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.newwrite > .newwriteheader{
  margin: 5px;
  background-color: rgba(242, 182, 210, .3);
  height: fit-content;
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 10px;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  font-size: 1.1rem;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
}

.newwrite > .newwriteheader > img{
  height: 30px;      
}

.writebox{
  /* background-color: red; */
  width: 100%;
  // display: none;
}
.writebox > .form{
  margin: 5px;
  margin-top: 0px;
  padding: 5px;
  background-color: rgba(242, 94, 163, .2);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(40px, auto) minmax(200px, auto) minmax(auto, 50px);
  border-radius: 10px;
}

.writebox img{
  height: 100%;
}

.writename{
  font-size: 1rem;
  background-color: rgba(255, 255, 255, .7);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  padding-left: 10px;
}
.writecontent{
  font-size: 1rem;
  border: none;
  padding: 10px;
  background-color: rgba(255, 255, 255, .7);
}
.writename:focus{
  outline: none;
  background-color: rgba(255, 255, 255, .9);
}
.writecontent:focus{
  outline: none;
  background-color: rgba(255, 255, 255, .9);
}

.writebox > .form > button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Jua', sans-serif;
  font-size: 1.25rem;
  /* font-weight: bold; */
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(242, 94, 163, .3);
  color: #fff;
}
.writebox > .form > button > img{
  height: 90%;
}

.writebox > .form > button:hover{
  background-color: rgba(242, 94, 163, .5);
}


@media screen and (max-width:900px) {
  .header{
    display: flex;
    flex-direction: column;
    height: max-content;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .header > .search{
    max-width:90%;
    overflow: hidden;
  }

  .boardmain{
    padding-top: 116px;
    min-height: 800px;
    height: max-content;
    /* background-color: blue; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(300px, auto) minmax(300px, auto);
    grid-template-areas: 
      "center"
      "right";
  }
  .boardcenter{
  /* background-color: yellow; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, minmax(50px, auto));
  grid-auto-rows: auto;
  grid-area: center;
  }

  .boardright{
    grid-area: right;
  }

}
