@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

$blue: rgb(5, 199, 242);
$blue7: rgba(5, 199, 242, 0.7);
$pink: rgb(242, 94, 163);
$midpink: rgb(242, 160, 213);
$midpink5: rgba(242, 160, 213, 0.5);
$palepink:rgb(242, 182, 210);
$palepink6: rgba(242, 182, 210, .6);
$palepink3: rgba(242, 182, 210, .3);
$yellow: rgb(255, 249, 191);
$yellow3: rgba(255, 249, 191, 0.5);
$white3: rgba(255, 255, 255, 0.3);
$white5: rgba(255, 255, 255, 0.5);

body{
  font-family: 'Jua', sans-serif;
  width: 80vw;
  margin-left: 10vw;
  height: 100vh;
  background-image: url("../resource/kirby_bg1.jpg");
  background-position: 50% 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.header {
  padding-left: 5%;
  padding-right: 5%;
  width: 80vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  position: fixed;
  background-image: url("../resource/kirby_header3.gif");
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 5px solid $white3;
  /* border-right: 5px solid rgba(255,255,255,.3); */
  /* border-left: 5px solid rgba(255,255,255,.3);  */
  > {
    .logo {
      display: flex;
      align-items: center;

      > a {
        > img {
          width: 60px;
          height: 60px;
        }

        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
        color: $pink;
        text-shadow: 0px 0px 10px #fff;
      }
    }

    .search {
      display: flex;
      align-items: center;
    }
  }

  input {
    min-width: 190px;
    padding-left: 15px;
    width: 20vw;
    height: 30px;
    background-image: url('../resource/search-background_blue.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    border: 1px solid $blue;
  }
}

input::placeholder{
  color: $blue7;
  font-family: 'Jua', sans-serif;
}

input:focus{
  /* border: 3px dashed rgba(255, 255, 255, .3); */
  /* outline: 5px solid #fff; */
  outline: none;
}

a{
  color: inherit;
  text-decoration: none;
  // pointer-events: none;
  cursor:pointer;
}
// a:link {
//   /* href 속성이 명시된 상태 */
// }

// a:visited {
//   /* 링크를 클릭해본 상태 */
// }

// a:focus {
//   /* 링크 위에 키보드 포커스가 위치한 상태 */
// }

// a:hover {
//   /* 링크 위에 마우스 포인터가 위치한 상태 */
// }

// a:active {
//   /* 링크 위에 마우스 포인터를 두고 좌측 버튼을 계속 클릭하고 있는 상태 */
// }

.mainmain{
  padding-top: 85px;
  min-height: 200px;
  height: max-content;
  /* background-color: blue; */
  display: grid;
  grid-template-columns: 3fr 11fr 6fr;
  gap: 5px;
}

.mainleft{
  min-width: 200px;
  /* background-color: tomato; */
  background-color: rgba(255, 255, 255, 0.3);
  height: fit-content;
  border-radius: 10px;
}

.maincenter{
  /* min-width: 320px; */
  background-color: rgba(242, 238, 182, .5);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 5px;
  border-radius: 10px;
}

.mainright{
  margin-top: 0px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* padding-top: 5px; */
  padding-bottom: 10px;
  /* padding-left: 5px;
  padding-right: 5px; */
  background-color: rgba(255, 255, 255, .3);
  /* background-color: rgba(5, 199, 242, 0.3); */
  border-radius: 10px;
}

.mainboardname{
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: $palepink6;
  font-size: 1.3rem;
}

.mainwritename{
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: $palepink3;
  border-radius: 10px;
  font-size: 1rem;
}

.profilecard {
  margin: 5px;
  /* border: 1px solid #555; */
  background-color: $yellow3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3vh;
  border-radius: 10px;
  /* border: 2px dashed #fff; */

  > {
    .profileimg {
      margin-top: 50px;
      max-width: 90%;
      min-width: 170px;
      min-height: 170px;
      width: 15vw;
      height: 15vw;
      border: 2px solid $midpink5;
      background-color: $white5;
      overflow: hidden;
      display: flex;
      justify-content: center;
      border-radius: 40px;

      > img {
        height: 100%;
      }
    }

    p {
      margin-top: 1.5vh;
      font-size: 1rem;
      font-weight: bold;

      &:nth-child(4) > a {
        margin: 0px 0.5rem;
        background-color: #fff;
        padding: .2rem .4rem;
        border-radius: 3px;
      }

      &:nth-child(3){
        > a {
          display: flex;
          align-items: center;
          padding-bottom: 5px;
        }

        img {
          height: 1.5rem;
          margin-right: 5px;
          margin-bottom: 10px;
        }
      }

      &:nth-child(4), &:nth-child(5){
        padding-bottom: 5px;
      } 
    }
  }
}

.board{
  /* border: 1px solid #fff; */
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 10px;
}

.mainboardname, .mainwritename{
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: rgba(242, 182, 210, .3);
  border-radius: 10px;
  font-size: 1rem;
}
.mainboardname{
  background-color: rgba(242, 182, 210, .6);
  font-size: 1.3rem;
}

.mainright{
  margin-top: 0px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* padding-top: 5px; */
  padding-bottom: 10px;
  /* padding-left: 5px;
  padding-right: 5px; */
  background-color: rgba(255, 255, 255, .3);
  /* background-color: rgba(5, 199, 242, 0.3); */
  border-radius: 10px;
}

.hot{
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}
.hot:nth-of-type(2){
  padding-bottom: 0px;
}

.hotboardname, .hotwritename{
  padding: 10px;
  display: flex;
  align-items: center;
  /* background-color: rgba(255, 255, 255, 0.6); */
  background-color: rgba(5, 199, 242, 0.3);
  border-radius: 10px;
  font-size: 1rem;
}
.hotboardname{
  background-color: rgba(5, 199, 242, 0.6);
  font-size: 1.25rem;
}


.footer{
  margin: 10px auto;
  padding-bottom: 5px;
  text-align: center;
  a{
    margin: 0px 5px;
  }
}

@media screen and (max-width:800px) {
  .header{
    /* min-width: 300px; */
    display: flex;
    flex-direction: column;
    height: max-content;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .header > .search{
    max-width:90%;
    overflow: hidden;
  }

  .mainmain{
    padding-top: 116px;
    min-height: 800px;
    height: max-content;
    /* background-color: blue; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(300px, auto) minmax(300px, auto) minmax(300px, auto);
    grid-template-areas: 
      "left"
      "right"
      "center";
  }

  .mainleft{
    min-height: 200px;
    /* background-color: tomato; */
    grid-area: left;
  }

  .maincenter{
  /* background-color: yellow; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(300px, auto);
  grid-auto-rows: 1fr;
  grid-area: center;
  }

  .mainright{
    grid-area: right;
  }
}
