.memberrankimg{
  height: 1.5rem;
  margin-right: 5px;
}

.memberinfowrapper{
  margin-left: -10vw;
  width: 100vw;
  min-height: 100vh;
  height: max-content;
  // background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), 
  // url("../resource/kirby_bg7.png");
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}

.headerwrapper{
  padding-left: 10vw;
}

.memberinfomain{
  width: 80vw;
  padding-left: 10vw;
  padding-top: 85px;
  min-height: 200px;
  height: max-content;
  display: grid;
  grid-template-columns: minmax(200px, 350px) minmax(450px, auto);
  gap: 5px;
}

.memberinfomain > .memberinfoheader{
  background-color: rgba(255, 255, 255, 0.3);
  height: fit-content;
  border-radius: 10px;
}

.memberinfomain > .memberinfocenter{
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}


.profilecard > .logout{
  font-family: 'Jua', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin: 0px 0.5rem;
  margin-top: 1.1rem;
  background-color: #fff;
  padding: .2rem .4rem;
  border-radius: 3px;
  border: none;
}

.profileinfo {
  text-align: center;
  line-height: 26px;
  margin-top: 20px;
}

.changememberinfo, .mywrite{
  background-color: rgba(242, 182, 210, .3);
  border-radius: 10px;
  margin: 0px 5px 5px 5px;
  cursor: pointer;
  >p:nth-child(1){
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    border-radius: 10px;
    background-color: rgba(242, 182, 210, .6);
    font-size: 1.3rem;
  }
  >p:nth-child(2), >p:nth-child(3), >p:nth-child(4), >p:nth-child(5){
    padding: 10px;
  }
  p{
    padding: 10px;
  }
}

.changememberinfo{
  margin-top: 5px;
}

.mywriteview{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 5px;
  margin: 0px 5px 5px 5px;
}

@media screen and (max-width:800px) {
  header{
    /* min-width: 300px; */
    display: flex;
    flex-direction: column;
    height: max-content;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  header > .search{
    max-width:90%;
    overflow: hidden;
  }

  .memberinfomain{
    padding-top: 116px;
    min-height: 800px;
    height: max-content;
    /* background-color: blue; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(200px, auto) 1fr;
    grid-template-areas: 
      "left"
      "center";
  }
  main > .memberinfoheader{
    min-height: 200px;
    grid-area: left;
  }
  main > .memberinfocenter{
  grid-area: center;
  }
}
.unReg {
  background-color: rgba(242, 182, 210, .3);
  border-radius: 10px;
  margin: 0px 5px 5px 5px;
  padding: 10px;
  cursor: pointer;
}
.profileinfo {
  line-height: 26px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.pfImgPreview{
  margin-left: 10%;
  max-width: 80%;
}

.pfImgChange{
  background-color: rgba(255, 255, 255, .4);
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  input{
    font-family: 'Jua', sans-serif;
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    margin-top: 10px;
    // padding: 10px;
    // color: #fff;
    background-color: rgba(242, 182, 210, 0.3);
    margin-right: 10px;
    padding-right: 10px;
  }
  input[type=file]::file-selector-button{
    font-family: 'Jua', sans-serif;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    // margin-top: 10px;
    padding: 10px;
    // color: #fff;
    background-color: rgba(242, 182, 210, 0.3);
    cursor: pointer;

    &:hover {
      background-color: rgba(242, 182, 210, 1);
      // border: 2px solid rgba(255, 78, 161, 0.6);
    }
  }
  button{
    font-size: 1rem;
    font-family: 'Jua', sans-serif;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    // color: #fff;
    background-color: rgba(242, 182, 210, 0.3);
    cursor: pointer;

    &:hover {
      background-color: rgba(242, 182, 210, 1);
      // border: 2px solid rgba(255, 78, 161, 0.6);
    }
  }
}

.pfImgForm{
  display: flex;
  align-items: center;
  justify-content: center;
}


