.pwdchange_container {
    font-size: 20px;
    position: relative;
    top: 300px;
    left: 300px;
    line-height: 30px;
    background-color: rgba(242, 182, 210, .3);
    border-radius: 10px;   
    width: 400px;
    height: 500px; 
}
.pwd_change {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 10px;
    background-color: rgba(242, 182, 210, .6);
    font-size: 1.3rem;
    width: 370px;
    margin: 10px;
    position: absolute;
    text-align: center;
}
.pwd_current {
    position: absolute;
    top: 100px;
    left: 40px;
}
.pwd_change_input {
    width: 300px;
    height: 26px;
    margin: 4px;
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid rgba(242, 182, 210, 0.6);
    font-family: 'Jua', sans-serif;
}
.pwd_change_ck {
    position: absolute;
    top: 220px;
    left: 40px;
}
.pwd_change_ck2 {
    position: absolute;
    top: 300px;
    left: 40px;
}
.current_pwd_hint {
    position: absolute;
    top: 160px;
    right: 50px;
    font-size: 12px;
    color: gray;
}
.pwd_hint {
    position: absolute;
    top: 280px;
    right: 50px;
    font-size: 12px;
    color: gray;
}
.pwd_hint2 {
    position: absolute;
    top: 360px;
    right: 50px;
    font-size: 12px;
    color: gray;
}
.pwd_change_yes {
    position: absolute;
    bottom: 40px;
    left: 100px;
    cursor: pointer;
}
.pwd_cancle {
    position: absolute;
    bottom: 40px;
    right: 100px;
}